.container {
  inset: 0;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  max-height: 100svh;
  @include mixins.flex-end-start;

  &::before {
    content: "";
    inset: 0;
    opacity: 20%;
    position: absolute;
    background-color: var(--dark-blue);
  }

  .wrapper {
    top: 50%;
    left: 50%;
    z-index: 100;
    display: flex;
    overflow: hidden;
    max-width: 1238px;
    padding-top: 80px;
    position: absolute;
    padding-bottom: 72px;
    flex-direction: column;
    width: calc(100% - 202px);
    height: calc(100% - 160px);
    background-color: var(--white);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    @include mixins.radius-16;
    @include mixins.scroll-off;
    @include mixins.shadow-modal2;

    .header {
      left: 0;
      top: 0;
      width: 100%;
      position: fixed;
      min-height: 80px;
      padding: 0px 24px;
      border-bottom: 0.5px solid var(--stroke);
      @include mixins.shadow-1;
      @include mixins.flex-between-center;

      .title {
        color: var(--dark-blue);
        @include mixins.text-18-bold;
      }

      .cancel {
        color: var(--red);
        @include mixins.text-14-bold;
      }
    }

    .body {
      flex: 1 1 0%;
      padding: 24px;
      overflow: auto;
      @include mixins.scroll-off;
    }

    .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 72px;
      padding: 12px 24px;
      position: absolute;
      border-top: 0.5px solid var(--stroke);
      @include mixins.shadow-1;
      @include mixins.flex-between-center;
    }
  }

  &[data-open="true"] {
    @include mixins.fade-in-animation;
  }

  &[data-open="false"] {
    @include mixins.fade-out-animation;
  }
}
