.wrapper {
  max-height: 100svh;
  height: 100svh;

  .header {
    width: 100%;
    height: 56px;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 0.5px solid #d9dce0;
    background: #fff;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);

    .sectionLeft,
    .sectionRight {
      display: flex;
      align-items: center;

      .title {
        color: #1d2742;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
      }

      .btnBack {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1d2742;
      }

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    .sectionLeft {
      .icon {
        margin-right: 4px;
      }
    }

    .sectionRight {
      .icon {
        margin-left: 8px;
      }
    }
  }

  .main{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    scrollbar-width: none;
  }

  :global #root {
    max-height: 100svh;
  }
}
