.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  z-index: 50;
  background: linear-gradient(0deg, rgba(103, 65, 136, 0.1) 0%, rgba(103, 65, 136, 0.1) 100%), rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;

  .modalBox {
    width: 350px;
    background: #ffffff;
    height: 346px;
    border-radius: 16px;
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #172b4d;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.4px;
      margin-top: 24px;
    }

    .text {
      width: 250px;
      margin-top: 16px;
      text-align: center;
      color: #61687b;
      font-size: 16px;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: -0.32px;
    }

    .btnBox {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      column-gap: 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      margin-top: 40px;

      .btnDel {
        flex: 1;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: #fd305b;
        color: #ffffff;
        text-decoration: none;
      }
      .btnCan {
        flex: 1;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid #674188;
        color: #674188;
        text-decoration: none;
      }
    }
  }
}
