.container {
  position: relative;
  display: flex;
  gap: 10px;

  &[data-size="md"] {
    width: 48px;
    height: 48px;
  }

  &[data-size="lg"] {
    width: 72px;
    height: 72px;
  }

  &[data-theme="white"] {
    --color: var(--white);
  }

  &[data-theme="purple"] {
    --color: var(--purple);
  }

  .box:nth-child(1) {
    --n: 1;
  }
  .box:nth-child(2) {
    --n: 2;
  }
  .box:nth-child(3) {
    --n: 3;
  }

  .box {
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    width: calc(33% * var(--n));
    height: calc(33% * var(--n));
    border: 1px solid rgba(from var(--color) r g b / 20%);
    transform: translate(-50%, -50%);
    @include transition;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &[data-active="true"]:nth-child(1) {
      background-color: var(--color);
      border: 1px solid transparent;
    }

    &[data-active="true"]:nth-child(2) {
      background-color: rgba(from var(--color) r g b / 40%);
      border: 1px solid transparent;
    }

    &[data-active="true"]:nth-child(3) {
      background-color: rgba(from var(--color) r g b / 20%);
      border: 1px solid transparent;
    }
  }
}
