.container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);

  .header {
    height: 56px;
    position: relative;
    @include centering;

    .title {
      color: var(--white);
      @include text-18-semibold;
    }
  }

  .wrapper {
    @include radius-32;

    gap: 24px;
    flex: 1 1 0%;
    padding: 16px;
    display: flex;
    padding-bottom: 96px;
    flex-direction: column;
    background-color: var(--white);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
