.container {
  gap: 12px;
  width: 100%;
  @include mixins.flex-start-center;

  .wrapper {
    width: 44px;
    height: 24px;
    cursor: pointer;
    border-radius: 63px;
    @include mixins.transition;
    @include mixins.flex-start-center;

    &[data-active="true"] {
      padding: 2px 0px 2px 22px;
      background-color: var(--main-blue);
    }

    &[data-active="false"] {
      padding: 2px 0px 2px 2px;
      background-color: var(--gray-30);
    }

    .input {
      display: none;
    }

    .ball {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--white);
      box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 20%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }

  .label {
    cursor: pointer;
    white-space: nowrap;
    color: var(--dark-blue);
    @include mixins.text-14-regular;
  }
}
