.container {
  gap: 2px;
  display: flex;
  overflow: auto;
  position: relative;
  @include scroll-off;

  .date {
    gap: 12px;
    height: 80px;
    display: flex;
    min-width: 48px;
    user-select: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 8px 6px 12px 6px;
    @include transition;
    @include radius-100;

    .day {
      @include text-18-bold;
    }

    .weekday {
      @include text-12-regular;
    }

    &[data-active="true"] {
      color: var(--white);
      background-color: var(--secondary);
    }
  }
}
