.container {
  flex-direction: column;
  @include mixins.flex-start-start;

  .label {
    color: var(--gray);
    @include mixins.transition;
    @include mixins.text-14-regular;
  }

  .dropSection {
    gap: 24px;
    width: 100%;
    padding: 16px;
    cursor: pointer;
    min-height: 165px;
    flex-direction: column;
    margin: 12px 0px 8px 0px;
    border: 1px solid var(--stroke);
    background-color: var(--text-back);
    @include mixins.radius-8;
    @include mixins.centering;
    @include mixins.transition;

    .input {
      display: none;
    }

    .textsContainer {
      gap: 12px;
      padding: 16px;
      flex-direction: column;
      @include mixins.centering;

      .title {
        color: var(--dark-blue);
        @include mixins.text-12-regular;
      }

      .description {
        line-height: 150%;
        color: var(--gray);
        text-align: center;
        @include mixins.text-12-regular;
      }
    }

    .value {
      padding: 8px 16px;
      text-align: center;
      color: var(--main-blue);
      @include mixins.text-14-bold;
    }

    .browseButton {
      all: unset;
      width: 100%;
      padding: 8px 16px;
      text-align: center;
      color: var(--main-blue);
      @include mixins.text-14-bold;
    }

    &[data-drag="true"] {
      border: 1px solid var(--light-blue);
    }
  }

  &[data-error="true"] {
    .label {
      color: var(--red);
    }

    .dropSection {
      border: 1px solid var(--red);
    }
  }

  .error {
    color: var(--red);
    @include mixins.text-10-regular;
  }
}
