.wrapper {
  flex-shrink: 0;
  width: 100%;
  border-radius: 16px;
  background: #00C9AF;
  position: relative;
  overflow: hidden;
  padding: 12px 12px 16px 12px;
  color: #FFFFFF;
  z-index: 20;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  text-decoration: none;


  .topCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .secRight {
      display: flex;
      align-items: start;
      column-gap: 12px;

      .imgBox {
        width: 78px;
        height: 78px;
        border-radius: 6px;
        overflow: hidden;

        .img {
          width: 100%;
          object-fit: cover;
        }
      }

      .nameBox{
        height: 78px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nameFa{
          font-size: 16px;
          font-weight: 500;
          line-height: 100%;
        }
        .nameEn{
          font-size: 14px;
          font-weight: 500;
          line-height: 100%;
        }

        .days{
          font-size: 14px;
          font-weight: 500;
          line-height: 100%;
          display: flex;
          align-items: center;
          column-gap: 8px;

          .line{
            height: 14px;
            width: 1px;
            background: #FFFFFF;
          }
        }
      }

    }

    .icon {
      width: 32px;
      height: 32px;
      z-index: 5;
    }

    .shadowBox {
      direction: ltr;
      background: linear-gradient(184deg, rgba(255, 255, 255, 0.00) -5.44%, rgba(255, 255, 255, 0.20) 96.47%);
      width: 185px;
      height: 185px;
      position: absolute;
      transform: rotate(90deg);
      left: -70px;
      top: -90px;
      border-radius: 100%;

      .shadowInner {
        width: 115px;
        height: 115px;
        background: linear-gradient(179deg, rgba(255, 255, 255, 0.00) 17.02%, rgba(255, 255, 255, 0.20) 99.23%);
        border-radius: 100%;
        transform: rotate(315deg);
        position: absolute;
        right: 20px;
        top: 45px;
      }
    }
  }

  .bottomCard {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .details{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .right{
        display: flex;
        column-gap: 4px;
        align-items: center;
      }

      .left{
        display: flex;
        column-gap: 4px;
        align-items: center;
      }
    }

    .barBox{
      width: 100%;
      height: 8px;
      border-radius: 29px;
      background: #EDF3FE;
      box-shadow: 0 0 3px 0 rgba(29, 39, 66, 0.10) inset;

      .bar , .barFull{
        width: 30%;
        height: 8px;
        border-radius: 24px;
        background: #1D2742;

        &Full{
          width: 100%;
        }
      }
    }
  }

}