.statusContainer {
  flex: 1 1 0%;
}

.list {
  gap: 24px;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.link {
  bottom: 112px;
  position: sticky;
  margin-inline: auto;
}

.emptyList {
  flex: 1 1 0%;
  padding-block: 96px;
  flex-direction: column;
  @include centering;

  .cover {
    width: 195px;
    height: 210px;
  }

  .description {
    margin-top: 24px;
    margin-bottom: 32px;
    @include text-16-bold;
  }
}
