.container {
  display: flex;
  min-height: 216px;
  position: relative;
  color: var(--white);
  padding-block: 16px;
  padding-bottom: 24px;
  flex-direction: column;
  justify-content: space-between;

  &::after {
    top: 50%;
    left: 50%;
    width: 60%;
    content: "";
    height: 93px;
    position: absolute;
    border-radius: 40%;
    filter: blur(30px);
    transform: translateX(-50%) translateY(-40%);
    background-color: rgba(from #d9d9d9 r g b / 10%);
    -o-border-radius: 40%;
    -ms-border-radius: 40%;
    -moz-border-radius: 40%;
    -webkit-border-radius: 40%;
    -webkit-filter: blur(30px);
    -o-transform: translateX(-50%) translateY(-40%);
    -ms-transform: translateX(-50%) translateY(-40%);
    -moz-transform: translateX(-50%) translateY(-40%);
    -webkit-transform: translateX(-50%) translateY(-40%);
  }

  .topWrapper {
    padding-inline: 16px;
    @include flex-between-center;

    .user {
      gap: 8px;
      color: var(--white);
      @include flex-start-center;

      .textContainer {
        gap: 5px;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;

        .message1 {
          @include text-16-semibold;
        }

        .message2 {
          margin-right: 3px;
          @include text-16-regular;
        }

        .date {
          opacity: 50%;
          @include text-12-semibold;
        }
      }
    }

    .notification {
      width: 40px;
      height: 40px;
      position: relative;
      background-color: rgb(from var(--white) r g b / 10%);
      @include centering;
      @include radius-full;

      .count {
        top: 4px;
        right: 4px;
        width: 16px;
        height: 16px;
        position: absolute;
        color: var(--white);
        background-color: var(--secondary);
        @include centering;
        @include radius-full;
        @include text-12-semibold;
      }
    }
  }

  .calendarContainer {
    z-index: 10;
    position: relative;
    color: var(--background);
    animation-delay: 200ms !important;
    animation-duration: 500ms !important;
    @include fade-out;
    @include fade-in-animation;
  }
}
