.container {
  gap: 32px;
  flex: 1 1 0%;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  max-height: calc(100svh - 136px);

  .title {
    width: fit-content;
    @include text-16-bold;

    &::before {
      width: 30%;
      right: 0px;
      content: "";
      height: 2px;
      bottom: -12px;
      position: absolute;
      background-color: var(--secondary);
      @include radius-4;
    }
  }

  .wrapper {
    gap: 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
  }
}

.footer {
  @include form-footer;
}


.scroll{
  gap: 32px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}