.container {
  gap: 5px;
  flex: 1 1 0%;
  display: flex;
  color: var(--white);
  flex-direction: column;

  --height: 170px;

  .status {
    height: var(--height);
    @include centering;
  }

  .countTitle {
    opacity: 70%;
    @include text-12-regular;
  }

  .countValue {
    @include text-12-semibold;
  }

  .wrapper {
    display: flex;
    margin-top: auto;
    height: var(--height);
    flex-direction: column;
    justify-content: space-between;
  }

  .chartContainer {
    width: 100%;
    margin-top: auto;
  }

  .info {
    margin-top: auto;
    height: var(--height);
    flex-direction: column;
    @include flex-end-center;
  }

  .title {
    text-align: center;
    @include text-14-bold;
  }

  .description {
    opacity: 70%;
    margin-top: 5px;
    text-align: center;
    @include text-12-regular-150;
  }
}
