.container {
  gap: 24px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);

  .header {
    display: flex;
    height: 221px;
    position: relative;
    flex-direction: column;
    @include centering;
    @include transition;

    .logo {
      width: 85px;
      z-index: 10;
      @include transition;
    }

    .shadow {
      z-index: 0;
      width: 238px;
      height: 93px;
      position: absolute;
      filter: blur(44px);
      background: rgba(255, 255, 255, 0.1);
      @include transition;
    }

    &[data-close="true"] {
      height: 0px;
      overflow: hidden;

      .logo {
        @include fade-out;
      }

      .shadow {
        @include fade-out;
      }
    }
  }

  .wrapper {
    flex: 1 1 0%;
    padding-block: 56px;
    padding-inline: 16px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: var(--background);
  }
}
