@use "font";

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;

  font-family: "Yekan Bakh", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:root {
  // ? layout
  --max-width: 480px;

  // ? colors
  --black: #000000;
  --black-10: #00000019;
  --secondary: #df6a6a;
  --secondary-10: #df6a6a19;
  --primary: #674188;
  --dark-blue: #1d2742;
  --gray: #61687b;
  --background: #faf9fb;
  --yellow: #dfa56a;
  --green: #00c9af;
  --blue: #25bff7;
  --white: #ffffff;
  --stroke: #d9dce0;
  --stroke2: #dedeea;
  --purple-stroke: #9d79be;
  --purple: #723da1;
  --violet: #f1ecf6;
  --orange-background: #fdf7f7;
  --red: #fd305b;
  --green-success-10: #e8f7ec;
  --green-success: #18a941;
  --red-10: #feecee;
  --blue-background: #f7f9fc;
  --text: #000e41;
  --medicine: #00b099;
  --medicine-10: #00b09919;

  --toastify-font-family: "Yekan Bakh", sans-serif;
  --toastify-toast-shadow: 0px 4px 8px 0px rgba(from var(--black) r g b / 10%);
}

html,
body {
  color: var(--dark-blue);
  background-color: var(--background);
  @include scroll-off;

  &:has([data-modal-open="true"]) {
    overflow: hidden;
  }
}

button {
  all: unset;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.Toastify__toast-container {
  padding: 16px;
}

.Toastify__toast {
  margin-top: 16px;
  box-shadow: 0px 4px 8px 0 px rgba(from var(--black) r g b / 10%);
  @include radius-8;
  @include text-14-bold;

  &:first-child {
    margin-top: 0px;
  }
}

.Toastify__toast--error {
  color: var(--black);
  background-color: var(--red-10);
}

.Toastify__toast--success {
  color: var(--black);
  background-color: var(--green-success-10);
}

.Toastify__progress-bar--wrp {
  bottom: none;
  top: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
