@use "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  font-family: "Yekan Bakh FaNum", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --secondary: #df6a6a;
  --primary: #674188;
  --dark-blue: #1d2742;
  --gray: #61687b;
  --background: #faf9fb;
  --yellow: #dfa56a;
  --green: #00c9af;
  --blue: #25bff7;
  --white: #ffffff;
  --stroke: #d9dce0;
  --purple-stroke: #9d79be;
  --violet: #f1ecf6;
  --orange-background: #fdf7f7;
  --red: #fd305b;
  --greensuccess-10: #e8f7ec;
  --greensuccess: #18a941;
  --red-10: #feecee;
}

body {
  color: var(--dark-blue);
}

button {
  all: unset;
  cursor: pointer;
}
