// ? flex
@mixin flex-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-start-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin flex-end-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flex-end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flex-between-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-between-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin flex-around-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

@mixin flex-around-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-around-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

// ? typography
@mixin text-28-semibold {
  font-size: 28px;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-24-bold {
  font-size: 24px;
  font-weight: 600;
}

@mixin text-20-extrabold {
  font-size: 20px;
  font-weight: 700;
}

@mixin text-20-bold {
  font-size: 20px;
  font-weight: 600;
}

@mixin text-18-regular {
  font-size: 18px;
  font-weight: 400;
}

@mixin text-18-semibold {
  font-size: 18px;
  font-weight: 500;
}

@mixin text-18-bold {
  font-size: 18px;
  font-weight: 600;
}

@mixin text-16-regular {
  font-size: 16px;
  font-weight: 400;
}

@mixin text-16-regular-150 {
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
}

@mixin text-16-semibold {
  font-size: 16px;
  font-weight: 500;
}

@mixin text-16-bold {
  font-size: 16px;
  font-weight: 600;
}

@mixin text-16-bold-150 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-14-regular {
  font-size: 14px;
  font-weight: 400;
}

@mixin text-14-regular-150 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-14-semibold {
  font-size: 14px;
  font-weight: 500;
}

@mixin text-14-semibold-150 {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-14-bold {
  font-size: 14px;
  font-weight: 600;
}

@mixin text-14-bold-150 {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

@mixin text-12-light {
  font-size: 12px;
  font-weight: 300;
}

@mixin text-12-regular {
  font-size: 12px;
  font-weight: 400;
}

@mixin text-12-regular-150 {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-12-semibold {
  font-size: 12px;
  font-weight: 500;
}

@mixin text-12-bold {
  font-size: 12px;
  font-weight: 600;
}

// ? transition
@mixin transition {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
}

// ? components
@mixin label {
  color: var(--gray);
  margin-bottom: 16px;
  display: inline-block;
  @include transition;
  @include text-14-regular;
}

@mixin error {
  margin-top: 8px;
  color: var(--red);
  display: inline-block;
  @include text-12-regular;
}

@mixin form-footer {
  @include radius-32;
  @include shadow-top;

  bottom: 0px;
  height: 80px;
  display: flex;
  position: sticky;
  padding-inline: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 0.5px solid var(--stroke);
}

// ? shadow
@mixin shadow-top {
  box-shadow: 0px -4px 24px 0px rgba(from var(--black) r g b / 5%);
}

@mixin shadow-bottom {
  box-shadow: 0px 4px 24px 0px rgba(from var(--black) r g b / 5%);
}

// ? radius
@mixin radius-4 {
  border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

@mixin radius-6 {
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

@mixin radius-8 {
  border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

@mixin radius-12 {
  border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

@mixin radius-16 {
  border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

@mixin radius-20 {
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

@mixin radius-24 {
  border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
}

@mixin radius-32 {
  border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
}

@mixin radius-100 {
  border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

@mixin radius-full {
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

// ? fade
@mixin fade-out {
  opacity: 0%;
  visibility: hidden;
}

@mixin fade-in {
  opacity: 100%;
  visibility: visible;
}

// ? scroll
@mixin scroll-off {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

// ? animations
@mixin fade-in-animation {
  animation: fade-in 200ms forwards 1;
  -webkit-animation: fade-in 200ms forwards 1;
}

@mixin fade-out-animation {
  animation: fade-out 200ms forwards 1;
  -webkit-animation: fade-out 200ms forwards 1;
}

// ? effects
@mixin box-effect1 {
  &::after {
    top: 10px;
    left: 20px;
    content: "";
    width: 115px;
    opacity: 20%;
    height: 115px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(30deg);
    background-image: linear-gradient(rgb(from var(--white) r g b / 0%), rgb(from var(--white) r g b / 100%));
    @include radius-full;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(30deg);
  }

  &::before {
    top: -6px;
    left: 30px;
    content: "";
    width: 185px;
    opacity: 20%;
    height: 185px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(30deg);
    background-image: linear-gradient(rgb(from var(--white) r g b / 0%), rgb(from var(--white) r g b / 100%));
    @include radius-full;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(30deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(30deg);
  }
}

@mixin box-effect2 {
  &::after {
    top: 50%;
    left: 50%;
    width: 60%;
    content: "";
    height: 93px;
    position: absolute;
    border-radius: 40%;
    filter: blur(30px);
    transform: translateX(-50%) translateY(-40%);
    background-color: rgba(from #d9d9d9 r g b / 10%);
    -o-border-radius: 40%;
    -ms-border-radius: 40%;
    -moz-border-radius: 40%;
    -webkit-border-radius: 40%;
    -webkit-filter: blur(30px);
    -o-transform: translateX(-50%) translateY(-40%);
    -ms-transform: translateX(-50%) translateY(-40%);
    -moz-transform: translateX(-50%) translateY(-40%);
    -webkit-transform: translateX(-50%) translateY(-40%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
    visibility: hidden;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 100%;
    visibility: visible;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
