// ? container
.rmdp-wrapper {
  border-radius: 8px !important;
  -o-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
}

.rmdp-shadow {
  box-shadow:
    0px 0px 12px 0px rgba(0, 0, 0, 4%),
    0px 16px 24px 0px rgba(0, 0, 0, 8%) !important;
}

.rmdp-calendar {
  padding-block: 19px !important;
  padding-inline: 20px !important;
}

// ? header
.rmdp-header {
  margin: 0px !important;
  padding: 0px !important;
  padding-bottom: 17px !important;

  .rmdp-header-values {
    margin: 0px;
    flex: 1 1 0%;
    text-align: start;
    color: var(--dark-blue);
    @include mixins.text-18-regular;
  }

  .rmdp-arrow-container {
    align-items: center;
    @include mixins.transition;

    i {
      margin: 0px !important;
      border: 1px solid var(--gray) !important;
      border-width: 0 1px 1px 0 !important;
    }

    &:hover {
      box-shadow: none !important;
      background-color: var(--main-blue-10) !important;
    }
  }
}

// ? day picker
.rmdp-day-picker {
  padding: 0px !important;
  padding-top: 17px !important;
  border-top: 1px solid var(--stroke);

  & > div {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }

  .rmdp-week {
    gap: 10px;
    height: 24px;
    @include mixins.centering;
  }

  .rmdp-week-day {
    width: 24px !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    color: var(--gray) !important;
  }

  .rmdp-day {
    width: 24px !important;
    height: 24px !important;

    span {
      inset: 0 !important;
      display: inline-block;
      width: 24px !important;
      height: 24px !important;
      @include mixins.centering;
    }
  }
}

// ? year and month picker
.rmdp-month-picker,
.rmdp-year-picker {
  margin-top: 2px;
  inset: 0 !important;
  div {
    margin-inline: 0px !important;
  }

  .rmdp-ym {
    gap: 5px;

    .rmdp-day {
      span {
        width: 100%;
        padding-block: 5px !important;
      }
    }
  }
}

// ? main button style
.rmdp-day {
  @include mixins.centering;

  span {
    font-size: 12px !important;
    position: static !important;
    font-weight: 500 !important;
    box-shadow: none !important;
    color: var(--dark-blue) !important;
    @include mixins.centering;
    @include mixins.transition;
  }

  &:not(.rmdp-selected, .rmdp-disabled, .rmdp-day-hidden) span:hover {
    color: var(--dark-blue) !important;
    background-color: var(--main-blue-10) !important;
  }

  &.rmdp-today span {
    color: var(--dark-blue) !important;
    background-color: var(--main-blue-5) !important;
  }

  &.rmdp-selected span:not(.highlight) {
    color: var(--white) !important;
    background-color: var(--main-blue) !important;
  }

  &.rmdp-disabled span {
    color: var(--gray-30) !important;
  }
}
