.button {
  all: unset;
  cursor: pointer;
  user-select: none;
  text-align: center;
  position: relative;
  @include mixins.radius-8;
  @include mixins.centering;
  @include mixins.transition;
  @include mixins.text-14-bold;

  &[data-disabled="true"],
  &[data-loading="true"] {
    cursor: not-allowed;
  }

  &[data-loading="true"] {
    .body {
      opacity: 0;
      visibility: hidden;
    }
  }

  .loading {
    inset: 0;
    position: absolute;
    @include mixins.centering;
  }

  &:active {
    scale: 95%;
  }
}

// ? sizes
.sm {
  height: 32px;
  padding-inline: 16px;
}

.md {
  height: 40px;
  min-width: 152px;
  padding-inline: 24px;
}

.lg {
  height: 48px;
  min-width: 152px;
  padding-inline: 24px;
}

// ? variants
.green {
  color: var(--dark-blue);
  background-color: var(--yellow-100);

  &[data-disabled="true"] {
    color: var(--stroke2);
    background-color: var(--background);
  }

  &:not([data-disabled="true"], [data-loading="true"]):hover {
    background-color: var(--yellow-dark);
  }
}

.blueStroke {
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
  background-color: var(--main-blue-5);

  &[data-disabled="true"] {
    color: var(--stroke);
    border: 1px solid var(--stroke);
  }

  &:not([data-disabled="true"], [data-loading="true"]):hover {
    background-color: var(--main-blue-10);
  }
}

.blueFill {
  color: var(--white);
  background-color: var(--main-blue);

  &[data-disabled="true"] {
    color: var(--stroke2);
    background-color: var(--background);
  }

  &:not([data-disabled="true"], [data-loading="true"]):hover {
    background-color: var(--main-blue-dark);
  }
}

.red {
  color: var(--white);
  background-color: var(--red);

  &[data-disabled="true"] {
    color: var(--stroke2);
    background-color: var(--background);
  }

  &:not([data-disabled="true"], [data-loading="true"]):hover {
    background-color: var(--red-dark);
  }
}
