.container {
  --gap: 8px;
  --padding: 4px;

  width: 100%;
  flex: 1 1 0%;
  height: 48px;
  gap: var(--gap);
  position: relative;
  padding: var(--padding);
  border: 0.5px solid var(--stroke);
  background-color: var(--background);
  @include radius-100;
  @include flex-start-center;

  .option {
    z-index: 1;
    flex: 1 1 0%;
    height: 100%;
    cursor: pointer;
    color: var(--gray);
    position: relative;
    @include centering;
    @include transition;
    @include radius-100;
    @include text-14-bold;

    &[data-active="false"]:hover {
      background-color: rgba(from var(--violet) r g b / 50%);
    }

    &[data-active="true"] {
      color: var(--primary);
    }
  }

  .activator {
    top: 50%;
    position: absolute;
    width: calc(50% - var(--gap));
    background-color: var(--violet);
    border: 1px solid var(--purple-stroke);
    height: calc(100% - (var(--padding) * 2));

    @include radius-100;
    @include transition;

    &[data-direction="start"] {
      transform: translate(0%, -50%);
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
    }

    &[data-direction="end"] {
      transform: translate(calc(-100% - var(--gap)), -50%);
      -webkit-transform: translate(calc(-100% - var(--gap)), -50%);
      -moz-transform: translate(calc(-100% - var(--gap)), -50%);
      -ms-transform: translate(calc(-100% - var(--gap)), -50%);
      -o-transform: translate(calc(-100% - var(--gap)), -50%);
    }
  }
}
