.container {
  display: flex;
  padding: 16px;
  min-height: 216px;
  color: var(--white);
  padding-bottom: 24px;
  flex-direction: column;
  justify-content: space-between;

  .topWrapper {
    @include flex-between-center;

    .user {
      gap: 8px;
      @include flex-start-center;

      .textContainer {
        gap: 5px;
        display: flex;
        align-self: stretch;
        flex-direction: column;
        justify-content: space-between;

        .message1 {
          @include text-16-semibold;
        }

        .message2 {
          margin-right: 3px;
          @include text-16-regular;
        }

        .date {
          opacity: 50%;
          @include text-12-semibold;
        }
      }
    }

    .notification {
      width: 40px;
      height: 40px;
      position: relative;
      background-color: rgb(from var(--white) r g b / 10%);
      @include centering;
      @include radius-full;

      .count {
        top: 4px;
        right: 4px;
        width: 16px;
        height: 16px;
        position: absolute;
        color: var(--white);
        background-color: var(--secondary);
        @include centering;
        @include radius-full;
        @include text-12-semibold;
      }
    }
  }
}
