.modal {
  max-height: calc(100svh - 216px) !important;
}

.container {
  display: flex;
  flex-direction: column;

  .wrapper {
    flex: 1 1 0%;
    padding-bottom: 32px;
  }

  .list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .button {
    bottom: 0px;
    display: flex;
    position: sticky;
    flex-direction: column;
  }

  .card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    aspect-ratio: 2/0.60;
    color: var(--white);

    @include radius-16;

    .cardHeader {
      gap: 16px;
      @include flex-between-center;

      .detail {
        gap: 12px;
        @include flex-start-center;

        .coverWrapper {
          width: 56px;
          height: 56px;
          background-color: var(--white);
          @include radius-6;
          @include centering;

          .cover {
            width: 75%;
            height: 75%;
            object-fit: cover;
          }
        }

        .info {
          display: flex;
          align-self: stretch;
          flex-direction: column;

          .faTitle {
            @include text-16-semibold;
          }

          .enTitle {
            @include text-14-semibold;
          }
        }
      }
    }

    .action {
      align-self: stretch;

      .button {
        width: 28px;
        height: 28px;
        border: 1px solid var(--white);
        background-color: rgba(from var(--white) r g b / 30%);
        @include centering;
        @include transition;
        @include radius-full;

        .icon {
          width: 16px;
          height: 16px;
          @include fade-out;
          @include transition;
        }

        &[data-active="true"] {
          background-color: var(--secondary);

          .icon {
            @include fade-in;
          }
        }
      }
    }

    .body {
      margin-top: auto;
      @include text-14-semibold;
      @include flex-between-center;
    }
  }
}
