.wrapper {
  position: absolute;

  height: 100svh;
  z-index: 50;
  background: linear-gradient(0deg, rgba(103, 65, 136, 0.1) 0%, rgba(103, 65, 136, 0.1) 100%), rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: end;

  .modal {
    width: 100%;
    height: 340px;
    background: #ffffff;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.1);

    .header {
      width: 100%;
      height: 56.5px;
      background: #fff;
      border-radius: 24px 24px 0 0;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.5px solid #d9dce0;
      box-sizing: border-box;

      .title {
        color: #1d2742;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.28px;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          rotate: 45deg;
          width: 24px;
          height: 24px;
          color: #1d2742;
        }
      }
    }

    .dateTable {
      margin-top: 16px;
      .row {
        display: flex;
        align-items: center;
        opacity: 0.5;

        .col {
          flex: 2;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #172b4d;
          font-size: 14px;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: -0.32px;
        }

        .colon {
          width: 20px;
        }

        &:first-child {
          opacity: 1;
          font-size: 16px;
        }

        &:nth-child(3) {
          background: #fdf7f7;
          opacity: 1;
          height: 59px;
          .col {
            flex: 2;
            color: #df6a6a;
            font-size: 20px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: -0.48px;
          }
          .colon {
            color: #df6a6a;
            text-align: center;
            font-size: 58px;
            font-weight: 300;
            line-height: 100%;
          }
        }
      }
    }

    .btnBox {
      margin-top: 24px;
      padding: 0 16px;

      .btn {
        width: 100%;
        height: 48px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: #674188;
        color: #ffffff;
      }
    }
  }
}
