.container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
  height: 56px;
  position: relative;
  padding-inline: 16px;
  background-color: var(--white);
  border-bottom: 0.5px solid var(--stroke);
  @include shadow-bottom;
  @include flex-between-center;

  .headerWrapper {
    gap: 8px;
    @include flex-start-center;

    .icon {
      width: 24px;
      height: 24px;
      color: var(--dark-blue);
    }

    .title {
      @include text-18-semibold;
    }
  }

  .link {
    color: var(--secondary);
    @include text-14-semibold;
  }
}

.status {
  flex: 1 1 0%;
}

.info {
  gap: 16px;
  padding: 16px;
  position: relative;
  color: var(--white);
  background-color: var(--green);
  @include box-effect1;
  @include flex-between-center;

  .infoWrapper {
    gap: 12px;
    @include flex-start-center;

    .coverContainer {
      min-width: 96px;
      min-height: 96px;
      background-color: var(--white);
      @include radius-6;
      @include centering;

      .cover {
        width: 78px;
        height: 78px;
        object-fit: cover;
      }
    }

    .textsContainer {
      display: flex;
      align-self: stretch;
      flex-direction: column;

      .faTitle {
        @include text-16-semibold;
      }

      .enTitle {
        margin-top: 4px;
        @include text-14-semibold;
      }

      .detail {
        margin-top: auto;
        @include text-12-regular;
      }
    }
  }

  .iconWrapper {
    align-self: stretch;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}

.body {
  flex: 1 1 0%;
  margin-top: 32px;
  padding-inline: 16px;

  .list {
    gap: 24px;
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;

    .option {
      @include text-14-regular;
      @include flex-between-center;
      flex-wrap: wrap;
      .title {
        color: var(--gray);
      }

      .divider {
        width: 4px;
        margin-inline: 4px;

        &:first-child,
        &:last-child {
          display: none;
        }
      }

      .warp{
        margin-top: 16px;
        width: 100%;
        @include text-12-regular;
      }
    }
  }

  .chart {
    width: 126px;
    height: 126px;
    position: relative;
    margin-inline: auto;
    @include radius-full;
    background: radial-gradient(
      circle,
      var(--white) 58%,
      rgba(0, 0, 0, 10%) 58%,
      rgba(from var(--white) r g b / 10%) 64%,
      rgba(0, 0, 0, 10%) 70%,
      var(--white) 70%
    );

    .chartInner {
      inset: 0;
      position: absolute;
      @include radius-full;
      @include centering;

      .content {
        flex-direction: column;
        width: calc(100% - 22px);
        height: calc(100% - 22px);
        background-color: var(--background);
        @include centering;
        @include radius-full;

        .counts {
          @include text-20-bold;
        }

        .countsTitle {
          @include text-12-regular;
        }
      }
    }
  }
}

.delete {
  margin: 40px auto;
}

.footer {
  @include form-footer;

  .link {
    display: flex;
  }
}
