.container {
  width: 100%;
  flex: 1 1 0%;
  user-select: none;

  --option-height: 59px;

  .label {
    height: 40px;
    @include centering;
    @include text-16-semibold;
  }

  .wrapper {
    overflow: hidden;
    min-height: calc(var(--option-height) * 3);
    @include centering;

    .carouselContainer {
      width: 100%;
      position: relative;

      &[data-loop="true"] {
        overflow: hidden;
      }

      .carouselWrapper {
        z-index: 1;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;

        .option {
          opacity: 50%;
          flex: 0 0 var(--option-height);
          transition: opacity 0.2s ease-in-out;
          @include centering;
          @include text-16-semibold;

          &[data-active="true"] {
            opacity: 100%;
            color: var(--secondary);
            @include text-20-bold;
          }
        }
      }

      .activeLine {
        left: 0;
        top: 50%;
        z-index: 0;
        width: 100%;
        position: absolute;
        pointer-events: none;
        transform: translateY(-50%);
        height: var(--option-height);
        background-color: var(--orange-background);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
}

.wheelPickerContainer {
  flex: 1 1 0%;
  @include flex-start-center;
}

.sideBox {
  width: 56px;
  height: 59px;
  margin-top: 40px;
  background-color: var(--orange-background);
}

.centerBox {
  width: 27px;
  height: 59px;
  font-size: 58px;
  margin-top: 40px;
  user-select: none;
  color: var(--secondary);
  background-color: var(--orange-background);
  @include centering;
  @include text-20-semibold;
}
