.wrapper{
  width: 100svw;
  height: 100svh;
  background: linear-gradient(0deg, rgba(103, 65, 136, 0.10) 0%, rgba(103, 65, 136, 0.10) 100%), rgba(0, 0, 0, 0.40);
  position: absolute;
  z-index: 50;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;


  .modal{
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.10);
    padding: 40px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title{
      color: #172B4D;
      font-size: 20px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.4px;
      margin-top: 24px;
    }

    .text{
      width: 271px;
      color: #61687B;
      font-size: 16px;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: -0.32px;
      margin-top: 16px;
      text-align: center;
    }

    .btnBox{
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 40px;
      column-gap: 8px;

      .btnDelete{
        flex: 1;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        background: #674188;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
      }

      .btnCancel{
        flex: 1;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        border: 1px solid #674188;
        color: #674188;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        text-decoration: none;
      }
    }

  }

}