.container {
  left: 50%;
  gap: 16px;
  z-index: 100;
  height: 64px;
  bottom: 16px;
  padding: 8px;
  display: flex;
  position: fixed;
  border-radius: 100px;
  transform: translateX(-50%);
  background-color: var(--dark-blue);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  .link {
    width: 48px;
    height: 48px;
    color: var(--white);
    @include centering;
    @include transition;
    @include radius-full;
  }

  .activeIcon {
    display: none;
  }

  .active {
    background-color: var(--white);
    color: var(--secondary);
    .defaultIcon {
      display: none;
    }

    .activeIcon {
      display: block;
    }
  }
}

.fade {
  left: 50%;
  bottom: 0px;
  width: 100%;
  height: 96px;
  position: fixed;
  max-width: var(--max-width);
  transform: translateX(-50%);
  background-image: linear-gradient(rgba(from var(--white) r g b / 0%), rgba(from var(--white) r g b / 90%));
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
