.container {
  left: 50%;
  gap: 16px;
  height: 64px;
  bottom: 16px;
  padding: 8px;
  display: flex;
  position: fixed;
  border-radius: 100px;
  transform: translateX(-50%);
  background-color: var(--dark-blue);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;

  .link {
    width: 48px;
    height: 48px;
    color: var(--white);
    @include centering;
    @include transition;
    @include radius-full;
  }

  .activeIcon {
    display: none;
  }

  .active {
    background-color: var(--white);

    .defaultIcon {
      display: none;
    }

    .activeIcon {
      display: block;
    }
  }
}
