.container {
  flex: 1 1 0%;
  padding-top: 16px;
  padding-bottom: 4px;

  .cover {
    width: 97px;
    height: 105px;
  }

  .status {
    height: 100%;
    min-height: 105px;
    @include centering;
  }

  .wrapper {
    height: 100%;
    min-height: 105px;

    .card {
      padding: 12px;
      display: flex;
      flex-direction: column;
      background-color: rgba(from var(--black) r g b / 20%);
      @include radius-16;

      .cardHeader {
        gap: 16px;
        @include flex-between-center;

        .detail {
          gap: 12px;
          @include flex-start-center;

          .coverWrapper {
            width: 56px;
            height: 56px;
            background-color: var(--white);
            @include radius-6;
            @include centering;

            .cover {
              width: 75%;
              height: 75%;
              object-fit: cover;
            }
          }

          .info {
            display: flex;
            align-self: stretch;
            flex-direction: column;

            .faTitle {
              @include text-16-semibold;
            }

            .enTitle {
              @include text-14-semibold;
            }
          }
        }
      }

      .action {
        align-self: stretch;

        .button {
          width: 28px;
          height: 28px;
          border: 1px solid var(--stroke);
          background-color: rgba(from var(--white) r g b / 30%);
          @include centering;
          @include transition;
          @include radius-full;

          .icon {
            width: 16px;
            height: 16px;
            @include fade-out;
            @include transition;
          }

          &[data-active="true"] {
            background-color: var(--secondary);

            .icon {
              @include fade-in;
            }
          }
        }
      }

      .body {
        margin-top: auto;
        @include text-14-semibold;
        @include flex-between-center;
      }
    }
  }
}
