
.wrapper {
  container-type: inline-size;
  container-name: sidebar;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  transition: min-width 1s;
  justify-content: space-between;


  .topMenu {
    width: 100%;

    .primaryButtonBox {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .primaryButton {
        margin: 0 24px;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: transparent;
        transition: transform .5s;

        :first-child {
          color: #7689A1;
        }

        &.close {
          transform: rotate(90deg);
        }


      }

      .text {
        font-size: 12px;
        transition: all .5s;
      }


    }
  }

  .bottomMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .copyRight{
      font-size: 12px;
      color: #7689A1;
      text-align: center;
      transition: font-size .5s;
      height: 12px;
    }
  }

  &.close {
    min-width: 72px;

    .primaryButtonBox {

      .textClose {
        font-size: 0;
      }
    }

  }


}

:global{
  @container sidebar (max-width: 190px) {

    .sidebarItemTitle ,.sidebarDateTimeText,.sidebarCopyRight{
      font-size: 0!important;
    }
    .sidebarCopyRight{
      border-top: 1px solid #D3DAE5;
      margin: 0 16px;
    }
  }

}



