.container {
  flex: 1 1 0%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--dark-blue);

  .wrapper {
    gap: 16px;
    flex: 1 1 0%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: var(--white);

    .firstSection {
      gap: 16px;
      display: flex;
      flex: 0.5 0.5 0%;
      min-height: 220px;
    }

    .secondSection {
      flex: 1 1 0%;
      display: flex;
      min-height: 194px;
    }

    .thirdSection {
      display: flex;
      min-height: 84px;
      visibility: hidden;
    }

    .fourthSection {
      display: flex;
      min-height: 64px;
    }
  }
}

.doseReminderContainer {
  padding-inline: 0px;

  & > div {
    padding-inline: 16px;
  }
}
