.container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;

  .label {
    @include label;
  }

  .input {
    gap: 8px;
    width: 100%;
    height: 44px;
    cursor: pointer;
    padding-inline: 12px;
    background-color: var(--white);
    border: 0.5px solid var(--stroke);
    @include radius-8;
    @include text-14-semibold;
    @include flex-between-center;
  }

  .icon {
    width: 16px;
    height: 16px;
    stroke-width: 10px;
    color: var(--gray);
  }
}
