.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-blue);
  flex-grow: 1;

  .headerWrapper {
    width: 100%;
    position: relative;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      min-height: 56px;
      color: var(--white);
      @include centering;
      @include text-18-semibold;
    }
  }

  .tabs {
    margin-top: 8px;
    background-color: var(--dark-blue-light);
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    row-gap: 7px;
    padding: 2px;
    box-sizing: border-box;
    width: fit-content;
    margin-inline: auto;
    position: relative;
    margin-bottom: 24px;
    z-index: 1;

    .tabItem {
      @include text-14-bold;
      color: var(--white);
      width: 105px;
      text-align: center;
      height: 40px;
      border-radius: 100px;
      align-items: center;
      justify-content: center;
      display: flex;
      cursor: pointer;
      user-select: none;
      &.active {
        background-color: var(--secondary);
        pointer-events: none;
      }
    }
  }

  .calendar {
    background-color: var(--white);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;

      .monthTitle {
        @include text-18-regular;
      }

      .button {
        width: 28px;
        height: 28px;
        border-radius: 8px;
        background-color: var(--white);
        border: 0.5px solid var(--stroke2);
        box-shadow: 0px 1.44px 3px 0px rgba(from var(--black) r g b / 5%);
        @include centering;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
      }

      .nextButton {
        transform: scaleXx(-1);
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        @include centering;
      }
    }

    .month {
      border-style: solid;
      border-color: var(--stroke);
      border-width: 1px 0 1px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & > * {
        border-right: solid var(--stroke) 1px;
        border-top: solid var(--stroke) 1px;
        //aspect-ratio: 1;
        display: flex;
        flex-grow: 1;
        flex-basis: 14%;
      }

      & :nth-child(7n + 1) {
        border-right: none;
      }

      .weekDayTitle {
        @include centering;
        @include text-16-bold;
        background-color: var(--blue-background);
        border-top: none;
        height: 56px;
      }

      .loading {
        @include centering;
      }

      .weekDay {
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include text-14-regular;
        color: var(--text);
        cursor: pointer;
        height: 64px;

        &.selected {
          border: solid var(--primary) 1px;
          border-radius: 4px;
        }

        &.empty {
          pointer-events: none;
        }

        .event {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          @include radius-4;
          padding: 0 4px;
          border: solid 1px var(--secondary);
          color: var(--secondary);
          background-color: var(--secondary-10);

          &.medicine {
            background-color: var(--medicine-10);
            border-color: var(--medicine);
            color: var(--medicine);
          }

          svg {
            opacity: 0.8;
            margin: 0;
          }
          span {
            @include text-14-regular;
          }
        }
      }
    }
  }

  .fakeWidth {
    height: 100px;
  }
}
