.container {
  gap: 12px;
  display: flex;
  flex-direction: column;

  .wrapper {
    position: relative;

    .wrapperInner {
      top: 50%;
      right: 0px;
      height: 8px;
      cursor: pointer;
      position: absolute;
      pointer-events: none;
      transform: translateY(-50%);
      background-color: var(--secondary);
      @include radius-4;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }

  .input {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    outline: none;
    background-color: var(--violet);
    @include radius-4;

    // ? track
    /* Chrome & Safari: Track */
    &::-webkit-slider-runnable-track {
      height: 8px;
      cursor: pointer;
      background-color: var(--violet);
      @include radius-4;
    }

    /* Firefox: Track */
    &::-moz-range-track {
      height: 8px;
      cursor: pointer;
      background-color: var(--violet);
      @include radius-4;
    }

    /* IE/Edge: Track */
    &::-ms-track {
      height: 8px;
      cursor: pointer;
      color: transparent;
      background: var(--violet);
      border-color: transparent;
    }

    // ? thumb
    /* Chrome & Safari: Thumb */
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: -6px;
      border-radius: 50%;
      background: var(--secondary);
    }

    /* Firefox: Thumb */
    &::-moz-range-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      background: var(--secondary);
    }

    /* IE/Edge: Thumb */
    &::-ms-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      margin-top: -6px;
      border-radius: 50%;
      background: var(--secondary);
    }
  }

  .options {
    @include flex-between-center;

    .option {
      @include transition;
      @include text-14-semibold-150;

      &:first-child {
        transform: translateX(30%);
        -webkit-transform: translateX(30%);
        -moz-transform: translateX(30%);
        -ms-transform: translateX(30%);
        -o-transform: translateX(30%);
      }

      &:last-child {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
      }

      &[data-active="true"] {
        color: var(--primary);
      }
    }
  }
}
