.wrapper {
  height: 100svh;
  background: #faf9fb;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    height: 100%;
    overflow-y: scroll;

    .header {
      height: 56px;
      width: 100%;
      background: #ffffff;
      border-bottom: 0.5px solid #d9dce0;
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      color: #1d2742;
      position: sticky;
      top: 0;

      .secRight {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: #1d2742;
        }
      }

      .stage {
        display: flex;
        align-items: center;
        column-gap: 4px;
        color: #df6a6a;
        font-size: 14px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.28px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 80px;
    border-radius: 32px 32px 0 0;
    border-top: 0.5px solid #d9dce0;
    background: #ffffff;
    box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      height: 48px;
      width: 90%;
      border-radius: 100px;
      background: rgba(103, 65, 136, 0.3);
      mix-blend-mode: luminosity;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
}
